<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="idv.tfp10104.login_homework">

    <!--連接外網-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--檢查網路連線狀態-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- 第15行 networkSecurityConfig與允許不安全連線必須加上 targetApi="m" (API 23)設定 -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Login_homework">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>